<?xml version="1.0"?>
<!--
/**
 * PHP version 7
* Copyright © Mobegic Inc. DBA Unbound Commerce.
 * All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="googlepay_config_provider" xsi:type="object">UnboundCommerce\GooglePay\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="UnboundCommerce\GooglePay\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
    <type name="UnboundCommerce\GooglePay\Block\Minicart\Button">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">UnboundCommerce_GooglePay::button-cart-page.phtml</item>
                <item name="alias" xsi:type="string">googlepay.button.cart</item>
            </argument>
            <argument name="payment" xsi:type="object">GooglePayFacade</argument>
        </arguments>
    </type>
</config>
