<?xml version="1.0"?>
<!--
/**
 * PHP version 7
* Copyright © Mobegic Inc. DBA Unbound Commerce.
 * All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="googlepay" frontName="googlepay">
            <module name="UnboundCommerce_GooglePay" />
        </route>
    </router>
</config>
